# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
MANIFEST

# Unit test / coverage reports
.coverage
.pytest_cache/

# pyenv
.python-version

# poetry
poetry.lock

# Environments
.env
.venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE/editor settings
.idea/
.vscode/
.spyderproject
.spyproject
